.gcp-tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.gcp-tooltip .gcp-tooltiptext {
    visibility: hidden;
    width: 120px;
    /*background-color: black;*/
    background-color: rgba(173, 216, 230);
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;

}

.gcp-tooltip .gcp-tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: rgba(173, 216, 230) transparent transparent transparent;
  }
  

.gcp-tooltip:hover .gcp-tooltiptext {
    visibility: visible;
}